@model Lab_01_v2_ED.Models.JugadoresModel
@{
    ViewData["Title"] = "ImportacionCSV";
}

<div class="text-center">
    <h1>Importacion CSV</h1>
    <h2 style="color: darkblue;" class="display-4">Major League Soccer</h2>
</div>
<h5>
    Ingrese la direccion del Archivo:
</h5>

<form method="post" enctype="multipart/form-data" asp-controller="Player" asp-action="ImportarCSV">

    <input type="file" class="form-control-file" name="ArchivoCargado" />
    <br />
    <input type="submit" value="Agregar" class="form-control-file" />

</form>