
@{
    ViewData["Title"] = "ImportacionJugadoresCS";
}


<div class="text-center">
    <h1>Importacion Jugadores</h1>
    <h2>
        Liga MLS

    </h2>
</div>
<h5>

    Ingrese al Opcion que desee:

</h5>
<div>
    <a asp-action="AgregarJugadoresCS" class="btn btn-dark btn-lg btn-block" role="button">Ingresar Uno a uno</a>
</div>
<p>

</p>
<div>
    <a asp-action="ImportacionJugadoresCS" class="btn btn-dark btn-lg btn-block" role="button">Exportar de CSV</a>
</div>