
@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1>Menu Principal</h1>
    <h2>
        Liga MLS
    </h2>
    <p>

        Primer Laboratorio de Estructura de Datos


    </p>
</div>
<a asp-action="ListadeCSharp" class="btn btn-dark btn-lg btn-block" role="button">Lista de C#</a>
<p>

</p>
<a asp-action="ListaGenerica" class="btn btn-dark btn-lg btn-block" role="button">Lista Generica</a>