@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1>Menu Principal</h1>
    <h2 style="color: darkblue;" class="display-4">Major League Soccer</h2>

</div>


<div class="text-center">
    <a asp-action="ListadeCSharp" class="btn btn-outline-dark" role="button">Lista de C# </a>

    <a asp-action="ListaGenerica" class="btn btn-outline-dark" role="button">Lista Generica</a>
</div>
